* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Inter";
    font-size: 36px;
}

main {
    flex: 1;
}

body {
    min-height: 100vh;
    width: 1920px;
    display: flex;
    flex-direction: column;
}
