<div class="cart-item">
    <img src="{{imgSrc}}" alt="Фото продукта">
    <div class="item-info">
        <div class="name">{{name}}</div>
        <div class="price">{{price}}</div>
    </div>
    <div class="sum-and-quantity">
        <span class="quantity">{{quantity}}</span>
        <div class="sum">{{sum}}</div>
    </div>
    <div class="quantity-controls">
        <button class="increase">+</button>
        <button class="decrease">-</button>
    </div>
    <button class="delete">Удалить из корзины</button>
</div>
